*.o
*.lo
*.la
*.al
*.swp
*.ncb
*.opt
*.orig
*.aps
*.clw
*.plg
.user
*.vcproj~
*.rej
*.suo
*.vpj
*.vws
*.tmp
*.7z
*.zip
*.rar
*.vcproj.list
*.vcproj.lnt
Debug
Release
Debug_Kalydo
Release_Kalydo
VTune
.libs
.svn
.DS_Store
Env
EnvWeb
pdb
Win32
*.phy
*.map
*.abs
*.s19
*.tdt
*.xpr
*.log
*.out
Exe
List
Obj
.metadata
.settings
settings
Release.*
!Release.Library